.blue {
    color: var(--mte-blue);
}

.blue-bg {
    background-color: var(--mte-blue);
}

.pink {
    color: var(--mte-pink);
}

.pink-bg {
    background-color: var(--mte-pink);
}

.orange {
    color: var(--campfire-orange);
}

.orange-bg {
    background-color: var(--campfire-orange);
}

.green {
    color: var(--accent-green);
}

.green-bg {
    background-color: var(--accent-green);
}

.yellow {
    color: var(--accent-yellow);
}

.yellow-bg {
    background-color: var(--accent-yellow);
}
