.count {
    background: $accent-yellow;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;

    i {
        color: #fff;
        margin-right: 5px;
    }
}