/* INTERVENTION CARDS */

.card-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    width: 320px;
    height: 480px;
    margin: 0px 20px 30px 20px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s linear 0s;
    /* Flexbox settings */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    &:hover,
    &.hover {
        box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.5);

        .card-content .description {
            max-height: 500px;
            transition: max-height 0.25s ease-in;
        }
    }

    &:hover .thumbnail img,
    .hover .thumbnail img {
        opacity: 0.5;
    }

    .thumbnail {
        background: #FFFFFF;
        height: 250px;
        overflow: hidden;

        img {
            display: block;
            width: 120%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s linear 0s;
        }
    }

    .card-content {
        position: absolute;
        bottom: 0;
        background: #FFFFFF;
        width: 100%;
        padding: 30px 30px 20px 30px;
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;

        .category {
            position: absolute;
            top: -18px;
            right: 20px;
            padding: 5px 15px;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 5px;

            &.cognitive {
                background: $accent-green;
            }

            &.communicative {
                background: $mte-pink;
            }

            &.emotional {
                background: $accent-yellow;
            }

            &.musical {
                background: $mte-blue;
            }

            &.psychosocial {
                background: $campfire-orange;
            }

            &.sensorimotor {
                background: $accent-purple;
            }

            &.spiritual {
                background: $accent-pink;
            }
        }

        .title {
            margin: 0;
            padding: 0 0 10px;
            color: $black;
            font-size: 26px;
            font-weight: 700;
            font-family: 'Raleway', sans-serif;
        }

        .sub_title {
            margin: 0;
            padding: 0 0 20px;
            color: $campfire-orange;
            font-size: 20px;
            font-weight: 400;
            font-family: 'Raleway', sans-serif;
        }

        .description {
            max-height: 0;
            transition: max-height 0.15s ease-out;
            overflow: hidden;
            color: $text-color;
            font-size: 14px;
            line-height: 1.8em;
        }

        .card-meta {
            color: $text-color;
            font-weight: 600;

            ul {
                padding: 0;
                list-style-type: none;
                font-size: 14px;
                line-height: 16px;
            }

            li {
                padding: 10px 0 10px 25px;

                &:before {
                    position:absolute;
                    left: 30px;
                }

                &:first-of-type:before {
                    content: "\f1ae";
                    font-family: 'Font Awesome 5 Pro';
                }

                &:last-of-type:before {
                    content: "\f7a6";
                    font-family: 'Font Awesome 5 Pro';
                }

                i {
                    padding-right: 15px;
                }
            }
        }

        .card-access {
            margin: 10px 0 0;
            text-align: center;

            a {
                text-decoration: none;
            }

            .button {
                color: #FFFFFF;
                font-weight: bold;
                padding: 12px 20px;
                border-radius: 5px;
                box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.3);
                transition: all 0.3s ease-out;
                cursor: pointer;

                &:hover {
                    filter: brightness(110%);
                }

                i {
                    padding-left: 5px;
                }
            }
        }
    }
}

/* Disabled cards */
.disabled {
    .thumbnail img {
        filter: grayscale(100%);
    }

    .card-content {
        .sub_title,
        .card-access,
        .description,
        .card-meta  {
            color: $med-gray;
        }

        .title {
            color: $text-color;
        }

        .card-access .button {
            background: $text-color;
        }

        .category {
            &.cognitive,
            &.communicative,
            &.emotional,
            &.musical,
            &.psychosocial,
            &.sensorimotor,
            &.spiritual {
                background: $text-color;
            }
        }
    }
}